.carousel-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.carousel-container {
  flex: 1;
  overflow: hidden;
}

.carousel-wrapper .task-cards {
  display: grid !important;
  gap: 1rem;
  grid-template-columns: 1fr;
}

@media (max-width: 600px) {
  .carousel-wrapper {
    flex-direction: row;
  }

  .carousel-btn {
    margin: 0.5rem 0 !important;
  }
}

@media (min-width: 601px) and (max-width: 1023px) {
  .carousel-wrapper .task-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .carousel-wrapper .task-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1440px) {
  .carousel-wrapper .task-cards {
    grid-template-columns: repeat(5, 1fr);
  }
}
