.search-and-filter {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: 100%;
}

.search-and-filter .dropdown-filters {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.search-and-filter .dropdown-filters > * {
  flex: 1;
}

.search-bar {
  display: flex;
  flex: 1;
  max-width: 750px !important;
  border-radius: 12px !important;
  border: 1px solid #e0e0e0;
  padding: 0 1rem !important;
}

.search-bar .search-input {
  flex: 1 !important;
  color: #000000ff;
  font-size: 0.95rem;
}

@media (min-width: 600px) {
  .search-and-filter {
    flex-direction: row;
    justify-content: space-between;
  }

  .search-and-filter .dropdown-filters {
    justify-content: flex-end;
    gap: 0.5rem;
    margin: 0;
  }

  .search-and-filter .dropdown-filters > * {
    flex: none;
  }
}

@media (min-width: 900px) {
  .notification,
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 1px solid #f5f5f7;
  }
}
