.dashboard-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1.5rem;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.welcome-text span:first-child {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.welcome-text span:last-child {
  color: var(--text-light);
  font-weight: 400;
  font-size: 0.95rem;
}

.tasks-widget,
.activity-widget,
.monthly-teachers-widget,
.upcoming-tasks-widget {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: var(--border-radius);
  margin-top: 1rem;
}

.tasks-widget {
  flex-direction: column;
  height: 13.5rem;
  overflow: hidden;
  background-color: #1a1b2f;
}

.running-tasks {
  border-radius: 0;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 1.25rem;
  color: white;
}

.running-tasks span:first-child {
  font-weight: 500;
  font-size: 1rem;
}

.running-tasks span:last-child {
  font-weight: 600;
  font-size: 2rem;
}

.total-tasks {
  color: white;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.progress-bar {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  border: 5px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.total-tasks-number {
  display: flex;
  flex-direction: column;
}

.total-tasks-number span:first-child {
  font-weight: 600;
  font-size: 1.5rem;
}

.total-tasks-number span:last-child {
  font-weight: 500;
  font-size: 1rem;
  color: var(--text-light);
}

.activity-widget {
  background-color: var(--card-bg);
  padding: 1rem;
}

.selector {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.selector span {
  font-weight: 600;
  background-color: transparent;
}

.graph {
  height: 9rem;
  background-color: #ffffff;
  border-radius: var(--border-radius);
}

.monthly-teachers-widget .carousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.teachers-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0.5rem;
}

.teachers-container::-webkit-scrollbar {
  display: none;
}

.teachers-widget-main {
  flex-direction: column;
  min-width: 100%;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  padding: 1rem;
  scroll-snap-align: start;
}

.teacher-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.teacher-details {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.teacher-details .avatar {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  background-color: var(--text-light);
}

.teacher-info .info {
  display: flex;
  flex-direction: column;
}

.teacher-details .info .name {
  font-weight: 600;
}

.teacher-details .info .profession {
  font-size: 0.85rem;
  color: var(--text-light);
}

.teacher-info .follow {
  font-weight: 500;
  color: var(--primary-color);
  cursor: pointer;
}

.teachers-widget-main .statistics {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.teachers-widget-main .statistics .rating {
  display: flex;
  justify-items: center;
  align-items: center;
}

.upcoming-tasks-main {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg);
  border-radius: var(--border-radius);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  padding: 1rem;
}

.upcoming-tasks-widget .carousel {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.upcoming-tasks-main .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-left: 0.5rem;
}

.upcoming-tasks-main .info .task-name {
  font-weight: 600;
}

.upcoming-tasks-main .info .task-category {
  font-size: 0.85rem;
  font-weight: 400;
  color: var(--text-light);
}

.upcoming-tasks-main .time-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.75rem;
  color: var(--text-light);
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

@media (min-width: 700px) {
  .dashboard-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: auto auto 1fr 2fr;
    gap: 1.5rem;
    padding: 2rem;
    height: 100vh;
    margin: 0;
  }

  .welcome-text {
    grid-column: 1 / 5;
    grid-row: 1;
  }

  .tasks-widget {
    grid-column: 1 / 2;
    grid-row: 2;
  }

  .total-tasks {
    margin-left: 1rem;
    justify-content: flex-start;
  }

  .running-tasks {
    font-size: x-large;
    margin-top: 0.5rem;
  }

  .total-tasks .progress-bar {
    margin-bottom: 0.5rem;
    height: 5rem;
    width: 5rem;
  }

  .total-tasks .total-tasks-number span:first-child {
    font-size: 1.75rem;
  }

  .activity-widget {
    grid-column: 2 / 5;
    grid-row: 2;
  }

  .monthly-teachers-widget {
    grid-column: 1 / 5;
    grid-row: 3 / 4;
    background-color: transparent;
  }

  .teachers-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .upcoming-tasks-widget {
    grid-column: 1 / 5;
    grid-row: 4 / -1;
    min-height: 0;
  }

  .upcoming-tasks-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }

  .task-today {
    grid-column: 5 / 6;
    grid-row: 1 / -1;
    background-color: var(--card-bg);
    border-radius: var(--border-radius);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    padding: 1.5rem;
  }
}
