.message-input {
  display: flex;
  box-shadow: none !important;
  border-radius: 0 !important;
  border-top: 1px solid #f5f5f7;
  padding: 0.5rem 1rem;
  flex-shrink: 0;
}

.message-input .input-field {
  margin-left: 1rem;
  flex: 1;
  color: #000000ff;
  font-size: 0.95rem;
}

.message-input .input-field::placeholder {
  color: #7a7a9d;
}

.message-input .icons {
  display: flex;
  align-items: center;
}
