.nav-bar {
  display: flex;
}

.nav-bar .app-bar {
  display: flex;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #e7e7e7ff;
  position: static;
  height: 4rem;
  box-shadow: none !important;
  width: 100%;
}

.app-bar .icon-button.open {
  margin-right: 2rem;
}

.app-bar .icon-button.hidden {
  display: none;
}

.app-bar .menu-icon {
  color: black;
}
