.tasks {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.tasks .content {
  flex: 1;
  background-color: var(--bg-light);
  padding: 1rem 1.5rem 2rem 1.5rem;
}

.tasks .user-head-component {
  display: none;
}

.tasks .content .main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

/* Desktop */
@media (min-width: 600px) {
  .tasks .user-head-component {
    display: flex;
  }

  /* .tasks .content {
    padding: 2rem 3rem;
  } */
}
