.tasks {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
}

.tasks .search-and-filters {
  padding: 0 1rem;
}

.tasks .content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  background-color: var(--bg-light);
  padding: 0 1rem 1rem 1rem;
  margin-top: 1rem;
}

.tasks .content .carousel-component {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}
