@import "./styles/nav-bar.css";
@import "./styles/dashboard.css";
@import "./styles/common.css";
@import "./styles/tasks.css";
@import "./styles/cards.css";
@import "./styles/carousel.css";
@import "./styles/mentors.css";
@import "./styles/messages.css";
@import "./styles/inputs.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #546fff;
  --text-dark: #1a1b2f;
  --text-light: #54577a;
  --bg-light: #f5f7fb;
  --card-bg: #f0f0f0;
  --mobile-card-bg: #e9e9e9;
  --border-radius: 0.75rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
}

@media (min-width: 500px) {
  .content.expanded {
    margin-left: 350px;
  }

  .content.collapsed {
    margin-left: 80px;
  }
}

@media (min-width: 500px) and (max-width: 1500px) {
  .content.collapsed {
    margin-left: 0;
  }
}

/* .content {
  height: 100%;
  transition: margin-left 0.3s ease;
} */
